.Rproj.user
.Rhistory
.RData
.Ruserdata
literature/
foss4g_competition.docx
~$ss4g_competition.docx
.DS_Store
nc/ghi_shift_1980_2018.nc
ghi_seasons_1981_2018.nc
ghi_annual_1980_2018.nc
R/trend.slope.R
M/era5_radiation_cache/
M/era5_radiation_files/
R/transform_to_kwh.R